body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: url("all-img/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;

}
.name
{
    color: orange;
}
.descriptions
{
    width: 50%;
    padding-left: 2%;

}
.right
{ 
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 55px;
    box-sizing: border-box;
    width: 40%;
    margin-left: 30px;
    margin-right: 40px;
display: inline-block;
float: inline-start;

}
.descriptions-imgs
{
width: 40%;
padding-bottom: 6%;
padding-left: 4%;
padding-top: 55px;
box-sizing: border-box;
margin-right: 40px;
margin-left: 30px;
float: right;
display: inline-block;

}
#frame
{
    box-sizing: content-box;
    border: 5px white solid ;
    border-radius: 15px;
    text-align-last: left;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
}
img
{
    border-radius: 10px;
}

#frame:hover
{
    transform: scale(.9);
    z-index: 1;

}
footer p 
{
    text-align: center;
    padding-top: 20%;
   

}